:root {
  --font-primary: "Rubik", sans-serif;
  --color-extralight: #fff;
  --color-light: #a6a6a6;
  --color-medium: #161e3b;
  --color-bold: #0b0f1e;
  --color-highlight: #ff0000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bold);
  color: var(--color-extralight);
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p,
a,
input,
button,
label,
ul {
  font-size: 1.6rem;
  font-weight: 400;
}

input,
button {
  border: none;
  border-radius: 0.5rem;
  font-family: var(--font-primary);
  padding: 1rem 1.5rem;
  width: 100%;
}

input {
  background-color: var(--color-bold);
  border: 1px solid var(--color-extralight);
  color: var(--color-extralight);
}

::placeholder {
  color: var(--color-extralight);
}

button {
  background-color: var(--color-light);
  color: var(--color-bold);
  font-weight: 500;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

p {
  font-weight: 400;
  line-height: 2.8rem;
}

a {
  text-decoration: none;
}

li {
  font-weight: 400;
  list-style: none;
}

img {
  border-radius: 1rem;
  width: 100%;
}

:disabled {
  opacity: 0.5rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
