header {
  align-items: center;
  display: flex;
  padding: 2rem 2rem 3rem 2rem;
  justify-content: space-between;
  text-align: center;
}

.logo {
  font-size: 3rem;
  font-weight: 600;
  margin: auto;
  text-transform: uppercase;
}

.theme-mode-toggle-btn {
  align-items: center;
  background-color: inherit;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.theme-mode-toggle-btn:hover {
  opacity: 1;
}

.theme-mode-icon {
  height: 3rem;
  width: 3rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    padding: 2rem 10rem 3rem 10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding: 2rem 25rem 2rem 25rem;
  }
}
